body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1362px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:520px;
  top:212px;
  width:300px;
  height:42px;
}
#u0_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1 {
  position:absolute;
  left:520px;
  top:305px;
  width:300px;
  height:42px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2 {
  position:absolute;
  left:520px;
  top:379px;
  width:300px;
  height:42px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1362px;
  height:106px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1362px;
  height:106px;
}
#u4 {
  position:absolute;
  left:2px;
  top:45px;
  width:1358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1362px;
  height:170px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5 {
  position:absolute;
  left:0px;
  top:633px;
  width:1362px;
  height:170px;
}
#u6 {
  position:absolute;
  left:2px;
  top:77px;
  width:1358px;
  visibility:hidden;
  word-wrap:break-word;
}
